<% if (page.prev || page.next){ %>
<div class="page-relative">
  <% if (page.prev){ %>
    <a href="<%- url_for(page.prev.path) %>" class="post-prev">
      <i class="icon">&#x261c;</i>
      <% if (page.prev.title){ %>
        <b><%= page.prev.title %></b>
      <% } else { %>
        (no title)
      <% } %>
    </a>
  <% } %>
  <% if (page.next){ %>
    <a href="<%- url_for(page.next.path) %>" class="post-next">
      <b><%= page.next.title %></b>
      <i class="icon">&#xe602;</i>
    </a>
  <% } %>
</div>
<% } %>
<% if (page.prev || page.next){ %>
<div class="page-relative-fixed">
  <% if (page.prev){ %>
  <a href="<%- url_for(page.prev.path) %>" class="prev" title="<%= page.prev.title %>">
    <i class="icon">&#xe600;</i>
    <% if (page.prev.title){ %>
    <b><%= page.prev.title %></b>
    <% } else { %>
    (no title)
    <% } %>
  </a>
  <% } %>
  <% if (page.next){ %>
  <a href="<%- url_for(page.next.path) %>" class="next" title="<%= page.next.title %>">
    <i class="icon">&#x261e;</i>
    <b><%= page.next.title %></b>
  </a>
  <% } %>
</div>
<% } %>